<!DOCTYPE html>
<html>

<head>
  <title>Simple Vue.js App</title>
</head>

<body>
  <div id="app">
    <h1>VueMart</h1>

    <h2>Shopping Cart</h2>
    <ul>
      <li v-for="item in shoppingCart">
        <a :href="item.url">{{ item.label }}</a>: ${{ item.cost }}
      </li>
    </ul>
    <p>Total: ${{ totalAmount }}</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        shoppingCart: [
          {
            label: 'Apples',
            cost: 10,
            url: '/apples.html'
          },
          {
            label: 'Bananas',
            cost: 2,
            url: '/bananas.html'
          },
          {
            label: 'Coconuts',
            cost: 28,
            url: '/coconuts.html'
          }
        ]
      },
      // Computed Properties as "function"
      computed: {
        totalAmount() {
          let total = 0

          this.shoppingCart.forEach(item => {
            total += item.cost
          })

          return total
        }
      }
      // 
    })
  </script>
</body>

</html>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->


<!-- 
ノート

1. "Vue Directives"
  ”ディレクティブとは、 DOM 要素に対して何かを実行することをライブラリに伝達する、
  マークアップ中の特別なトークンです”（公式より）

  ディレクティブはHTML属性のように記述されるが、1つ大きな違いがある。
  全てのディレクティブは「v-で始まる」こと。

  Vueアプリケーションで一般的に目にするディレクティブの一例を挙げる。
  - v-if, v-else-if, v-else
  - v-show
  - v-for
  - v-bind
  - v-on
  - v-model

2. コンテンツの表示を切り替える
  条件によってコンテンツの表示、非表示を切り替える。
  2種類のディレクティブが用いられる。
  ・v-if, v-else-if, v-else
    いわゆるif文で、条件に応じ表示と非表示を切り替えるもの。
    初期ロードの際に条件分岐するので、非表示となった場合は要素がDOMから完全に消えている。
    アカウント権限に応じて表示させる、しないの分岐に使われる一方、
    ユーザーアクションで頻繁に表示を切り替えるような用途には向いていない。
    ex)
      <section v-if="userPermission === 'default'">...</section>
      <section v-else-if="userPermission === 'admin'">...</section>
      <section v-else>...</section>

    注意：""内は条件式であり、一見テキストのように見えるが、Javascriptの文法で記述する必要がある。
  
  ・v-show
    v-ifがJSの条件式に応じて、ページの初期ロードの時点で表示・非表示を分岐させるのに対し、
    v-showはCSSを利用し、いわゆる"display: none"のような形で表示・非表示を切り替える。
    ページを表示した段階で要素がロードされているので、
    ユーザーアクションで頻繁に表示・非表示を切り替える要素に向いている特徴がある。
    ex)
      
  
      
-->