<!DOCTYPE html>
<html>

<head>
  <title>Simple Vue.js App</title>
</head>

<body>
  <div id="app">
    <h1>VueMart</h1>

    <h2>Shopping Cart</h2>
    <ul>
      <li v-for="item in shoppingCart">
        <a :href="item.url">{{ item.label }}</a>: ${{ item.cost }}
      </li>
    </ul>
    <p>Total: ${{ totalAmount }}</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        shoppingCart: [
          {
            label: 'Apples',
            cost: 10,
            url: '/apples.html'
          },
          {
            label: 'Bananas',
            cost: 2,
            url: '/bananas.html'
          },
          {
            label: 'Coconuts',
            cost: 28,
            url: '/coconuts.html'
          }
        ]
      },
      // Computed Properties as "function"
      computed: {
        totalAmount() {
          let total = 0

          this.shoppingCart.forEach(item => {
            total += item.cost
          })

          return total
        }
      }
      // 
    })
  </script>
</body>

</html>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->


<!-- 
ノート

1. "Vue Directives"
  ”ディレクティブとは、 DOM 要素に対して何かを実行することをライブラリに伝達する、
  マークアップ中の特別なトークンです”（公式より）

  ディレクティブはHTML属性のように記述されるが、1つ大きな違いがある。
  全てのディレクティブは「v-で始まる」こと。

  Vueアプリケーションで一般的に目にするディレクティブの一例を挙げる。
  - v-if, v-else-if, v-else
  - v-show
  - v-for
  - v-bind
  - v-on
  - v-model

2. コンテンツの表示を切り替える（v-if, v-show)
  条件によってコンテンツの表示、非表示を切り替える。
  2種類のディレクティブが用いられる。
  ・v-if, v-else-if, v-else
    いわゆるif文で、条件に応じ表示と非表示を切り替えるもの。
    初期ロードの際に条件分岐するので、非表示となった場合は要素がDOMから完全に消えている。
    アカウント権限に応じて表示させる、しないの分岐に使われる一方、
    ユーザーアクションで頻繁に表示を切り替えるような用途には向いていない。
    ex)
      <section v-if="userPermission === 'default'">...</section>
      <section v-else-if="userPermission === 'admin'">...</section>
      <section v-else>...</section>

    注意：""内は条件式であり、一見テキストのように見えるが、Javascriptの文法で記述する必要がある。
  
  ・v-show
    v-ifがJSの条件式に応じて、ページの初期ロードの時点で表示・非表示を分岐させるのに対し、
    v-showはCSSを利用し、いわゆる"display: none"のような形で表示・非表示を切り替える。
    ページを表示した段階で要素がロードされているので、
    ユーザーアクションで頻繁に表示・非表示を切り替える要素に向いている特徴がある。
    ex)
      ...
      <div id="app">
        <button>Display Modal</button>
        <div v-show="showModal" class="modal">非表示になる要素</div>
      </div>
      ...
      <script>
        const app = new Vue({
          el: "#app",
          data: {
            showModal: false
          }
        })
      </script>
      ...
    
      v-show=""も同様に条件式が使われている。
      例ではbooleanのデータを呼び出して直接用いており、内容がfalseなのでv-showの条件分岐より非表示となる。
      
  3. コンテンツをループ表示させる(v-if="... in xxxx")
    v-forはリストにまとめたデータを、HTML要素を繰り返して表示させる用途で用いられる
    JSの基本的文法にしたがって記述される。（for...in ループ構文）
    ex)
      <div id="app">
        <ul>
          <li v-for="item in shoppingCart">
            {{ item.label }}: {{ item.cost }}
          </li>
        </ul>
      </div>
      
      <script>
        const app = new Vue ({
          el: "#app",
          data: {
            shoppingCart: [
            { label: 'Apples', cost: 6 }, // itemハッシュ; JSの文法より
            { label: 'Bananas', cost: 2 },
            { label: 'Coconuts', cost: 8 }
            ]
          }
        })
      </script>
      
      例では、shoppingCart配列の要素の数だけ繰り返される
     （itemという名で配列の要素（例ではさらにハッシュ）を定義して、item in shoppingCartのうち、
     {{ item.label }}と記述してitemハッシュに格納されたlabelキーの値を呼び出している）

     v-"for"に対する"in"は、続く””の中で登場する。

  4. HTML属性の動的定義（v-bind: ）
    ハードコードではなく、データプロパティを参照することで属性を変化させるような場面でたびたび用いる。
    以下は、APIからのデータをリクエストし、各ページのリンクをそれぞれ表示させるような場合の例である。
    ex)
      <div id="app">
        <ul>
          <li v-for="item in apiResponse">
            <a v-bind:href="item.url">{{ item.name }}</a>
          </li>
        </ul>
      </div>

      <script>
        const app = new Vue ({
          el: '#app',
          data: {
            apiResponse: [
              { name: 'GitHub', url: '<https://www.github.com>' },
              { name: 'Twitter', url: '<https://www.twitter.com>' },
              { name: 'Netlify', url: '<https://www.netlify.com>' }
            ]
          }
        })
      </script>
    
    v-bindディレクティブは一般的に省略形で用いられる。
    "v-bind:attributes"であるので、単にコロンだけを残し":attributes"と書かれる。
    aタグのhref属性の場合は、v-bind:href="item.url" => :href="item.url"となる。
  
  5. listening to events and responding to them (v-on)
    要素の特定のイベントをlistenさせたい時、v-onディレクティブが簡単に使えるイベントリスナーである。
    ex)
      <div id="app">
        <button v-on:click="alert('you clicked this')">Click me</button>
      </div>
    v-onディレクティブも同様にして省略形が用いられる。
    v-on:click="alert('Hello')" は@に置き換えて @click="alert('Hello')"と書かれる

    v-on:click=""の""内は関数が入るが、単一のJSよりもさらに複雑な関数を設定したい場合は、
    dataプロパティのように、関数の一連の内容をmethodsプロパティに定義しておくことで呼び出して使用することが可能となる。  
    ex)
      const app = new Vue ({
        el: '#app',
        data: {
          favoriteColor: 'blue'
        },
        computed: {
          label() {
            return 'Color: ' + this.favoriteColor
          }
        },
        methods: {
          alertColor(colorLabel) {
            alert('My favorite ' + colorLabel)
          },
          changeColor() {
            // データプロパティの変更
            this.favoriteColor = 'teal'
            // 別のメソッドを呼び出し、computedプロパティを渡す
            this.alertColor(this.label())
          }
        }
      })

      例の中でchangeColor関数を呼び出すと、結果、アラート"My favorite Color: teal"と表示される
    
  -->