<!DOCTYPE html>
<html>

<head>
  <title>Simple Vue.js App</title>
</head>

<body>
  <div id="app">
    <label for="un">Username: {{ username }}</label>
    <input id="un" type="text" v-model="username" />
    <label for="pw">Password: {{ password }}</label>
    <input id="pw" type="password" v-model="password" />
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        username: '',
        password: ''
      }
    })
  </script>
</body>

</html>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->


<!-- 
ノート

2. Computed Properties
  他のデータに基づいてアップデートされる値。
  データプロパティとは異なり、値を返すfunctionでなければならない。
  計算し期待される結果を返す動作をする。

  計算方法をfunctionとして定義しておくことにより、HTMLコードの単純化が可能である

  例ではES6省略形(i.e., totalAmount() {...} )を用いている。
  これは( totalAmount: function() {...} )の省略形である。
    ※注意　アロー関数は使ってはならない。
      thisコンテクストがリセットされてしまうので、Vueインスタンスの"this"を呼び出せなくなる。
      データプロパティを参照するためには、"this"が利用可能である必要がある。
      
-->